body,
.container {
	margin: 0;
	padding: 0;
}

.container,
main {
	display: flex;
	flex-direction: column;
	// flex-wrap: wrap;
	align-content: center;
}

h2 {
	font-size: 17px;
	margin: 7px;
}

// ======================= FIN GÉNÉRAUX
header {
	display: none;
	flex-wrap: wrap;
	height: 100vh;
	padding: 30px;
	background: url("../src/img/hero.jpg") center/cover no-repeat;

	nav {
		text-align: right;
	}
	
	.titre {
		h1 {
			color: rgb(1, 255, 234);
			text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
			font-size: 2em;
		}
	}
}

// =================== / HEADER


main {
	background-color: rgb(185, 185, 185);

	section:first-of-type {
		margin: 10px;
		display: flex;
		justify-content: space-evenly;
		// position: relative;
	}

	aside {
		width: 30vw;
		height: 35vh;
		// position: absolute;
		// z-index: 5;
		background-color: gray;
	}
	.map {
		// display: none
		width: 50vw;
		height: 50vh;
		// z-index: 0;
	}
	.ligneS {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;

		.ligne {
			list-style-type: none;
			text-align: center;
			border-radius: 50%;
			margin: 5px;
			padding: 5px;
			

			a {
				text-decoration: none;
			}
		}

		.ligne:hover {
			// Créer une bulle avec le longName
			text-decoration: underline 2px red;
		}
	}
}

// ==================== / MAIN